[Unit]
Description=gome-schedule

[Service]
Type=simple
User=root
Group=root
EnvironmentFile=-/etc/gome/schedule/gome-schedule.environment
ExecStart=/etc/gome/schedule/gome-schedule
Restart=always

[Install]
WantedBy=multi-user.target